@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

@font-face {
  font-family: 'Vazir';
  src: url('/src/assets/fonts/Vazir/Vazirmatn-Medium.woff2') format('woff2');
}


body,
#root {
  font-family: 'Vazir', Tahoma, sans-serif;
  --color-primary: #eecb1d;
  --color-secondary: #343635;
  --color-background: #f5f5f5;
  --color-text: #494848;
  --color-text-secondary: #869999;
  --color-dark: rgba(31, 42, 42, 0.5);
  margin: 0;
  background: linear-gradient(#d0d6d9, #b1b4ba);
  color: #d9e2f1;
  min-height: 100vh;
}

header {
  margin: 2rem 0;
  text-align: center;
}

header img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  filter: drop-shadow(0 0 4px var(--color-dark));
}

header h1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  color: #fff;
}

form {
  width: 90%;
  max-width: 50rem;
  margin: 3rem auto;
  padding: 3rem;
  background: var(--color-primary);
  border-radius: 10px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}

.control {
  padding: 0.5rem 0;
}

.control label {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--color-text);
  font-weight: bold;
}

.control input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: transparent;
}

.control select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: transparent;
}

.control-error {
  color: #ffca99;
  font-size: 0.8rem;
  height: 2rem;
  padding: 0.5rem 0;
}

.control-error p {
  margin: 0;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--color-dark);
  color: #fff;
}

.button-flat {
  background-color: transparent;
  color: #fff;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #000;
}
